<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.ifreedomer.com.softmanager">

    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GRANT_REVOKE_PERMISSIONS"/>
    <uses-permission android:name="android.permission.GRANT_GRANT_PERMISSIONS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE"/>
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_APP_OPS_STATS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:name=".CleanApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.setting.FeedBackActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58b79c79c62dca7ce90017d2"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="xiaomi"/>

        <!-- <activity android:name=".activity.TestActivity"></activity> -->
        <activity
            android:name=".activity.clean.BigFileCleanActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.clean.QQCleanActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.clean.MemoryCleanActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.clean.GarbageActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.setting.SettingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.setting.HelpActivity"/>
        <activity
            android:name=".activity.PermissionSetActivity"
            android:screenOrientation="portrait"/>

        <service
            android:name=".service.FileScanService"
            android:exported="false"/>

        <activity android:name=".activity.clean.CleanSuccessActivity">
        </activity>


        <!-- alipay sdk begin -->

        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>

        <!-- alipay sdk end -->
    </application>

</manifest>